@using AstronautRegister.Shared

<section class="overflow-x-auto relative overflow-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="py-3 px-6">
                Name
            </th>
            <th scope="col" class="py-3 px-6">
                Surname
            </th>
            <th scope="col" class="py-3 px-6">
                Birth date
            </th>
            <th scope="col" class="py-3 px-6">
                Superpower
            </th>
            <th scope="col" class="py-3 px-6">
                Delete
            </th>
        </tr>
        </thead>
        <tbody>

        @foreach (var astronaut in Astronauts)
        {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                    @astronaut.Name
                </th>
                <td class="py-4 px-6">
                    @astronaut.Surname
                </td>
                <td class="py-4 px-6">
                    @astronaut.DateOfBirth.ToString("dd/MM/yyyy")
                </td>
                <td class="py-4 px-6">
                    @astronaut.Superpower
                </td>
                <td class="py-4 px-6">
                    <button class="btn btn-danger" @onclick="@(() => OnClick(astronaut))">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</section>

@code {

    [Parameter, EditorRequired]
    public IEnumerable<Astronaut> Astronauts { get; set; } = new List<Astronaut>();

    [Parameter, EditorRequired]
    public Action<Astronaut> OnClick { get; set; } = default!;

}